<div class="socials">
  <a href="#" target="_blank"><i class="fa fa-twitter-square"></i></a>&nbsp;
  <a href="#" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
  <a href="#" target="_blank"><i class="fa fa-linkedin-square"></i></a>&nbsp;
  <a href="#" target="_blank"><i class="fa fa-instagram"></i></a>&nbsp;
  <a href="#" target="_blank"><i class="fa fa-envelope-square"></i></a>
</div>
