{{!< default}}

{{> "header"}}

<main class="site_width padding" role="main">
  <article class="{{post_class}}">

    {{#post}}

    <header class="post-header">
      <h1>{{{title}}}</h1>
    </header>

    <div class="entry">
      {{content}}
    </div>

    {{/post}}

    {{!
      Here, you can add disqus comment.
      Also go to partials/disqus-comment to set your SHORTNAME.
    }}
    {{!> disqus-comment}}
  </article>
</main>