{{!< default}}

{{> "header"}}

<main class="site_width" role="main">
  <h1 class="padding_top padding_right padding_left text book uppercase" style="font-size: 1rem;">Articles about {{tag.name}}</h1>

  {{> "loop"}}
</main>