black_light = lighten(black, light)
blue_light = lighten(blue, light)
green_light = lighten(green, light)
orange_light = lighten(orange, light)

red_light = lighten(red, light)
yellow_light = lighten(yellow, light)
pink_light = lighten(pink, light)
violet_light = lighten(violet, light)

stimulation_light = lighten(stimulation, light)
rainy_light = lighten(rainy, light)
trackpants_light = lighten(trackpants, light)
trunkocean_light = lighten(trunkocean, light)

more_light = lighten(more, light)
pamda_light = lighten(pamda, light)
petal_light = lighten(petal, light)
puppy_light = lighten(puppy, light)

mysauce1_light = lighten(mysauce1, light)
mysauce2_light = lighten(mysauce2, light)
mysauce3_light = lighten(mysauce3, light)
mysauce4_light = lighten(mysauce4, light)


black_medium = lighten(black, medium)
blue_medium = lighten(blue, medium)
green_medium = lighten(green, medium)
orange_medium = lighten(orange, medium)

red_medium = lighten(red, medium)
yellow_medium = lighten(yellow, medium)
pink_medium = lighten(pink, medium)
violet_medium = lighten(violet, medium)

stimulation_medium = lighten(stimulation, medium)
rainy_medium = lighten(rainy, medium)
trackpants_medium = lighten(trackpants, medium)
trunkocean_medium = lighten(trunkocean, medium)

more_medium = lighten(more, medium)
pamda_medium = lighten(pamda, medium)
petal_medium = lighten(petal, medium)
puppy_medium = lighten(puppy, medium)

mysauce1_medium = lighten(mysauce1, medium)
mysauce2_medium = lighten(mysauce2, medium)
mysauce3_medium = lighten(mysauce3, medium)
mysauce4_medium = lighten(mysauce4, medium)


black_dark = darken(black, dark)
blue_dark = darken(blue, dark)
green_dark = darken(green, dark)
orange_dark = darken(orange, dark)

red_dark = darken(red, dark)
yellow_dark = darken(yellow, dark)
pink_dark = darken(pink, dark)
violet_dark = darken(violet, dark)

stimulation_dark = darken(stimulation, dark)
rainy_dark = darken(rainy, dark)
trackpants_dark = darken(trackpants, dark)
trunkocean_dark = darken(trunkocean, dark)

more_dark = darken(more, dark)
pamda_dark = darken(pamda, dark)
petal_dark = darken(petal, dark)
puppy_dark = darken(puppy, dark)

mysauce1_dark = darken(mysauce1, dark)
mysauce2_dark = darken(mysauce2, dark)
mysauce3_dark = darken(mysauce3, dark)
mysauce4_dark = darken(mysauce4, dark)