// What module you want to include
// (set true to include)

xpressio_borders = true
xpressio_colors = true
xpressio_cursors = true
xpressio_flex = false
xpressio_font = true
xpressio_form = true
xpressio_grid = false
xpressio_layout = true
xpressio_list = true
xpressio_margins = true
xpressio_media = true
xpressio_menu = false
xpressio_modals = false
xpressio_mymedia = true
xpressio_mystyle = true
xpressio_normalize = true
xpressio_paddings = true
xpressio_positions = true
xpressio_table = true
xpressio_tooltips = false
xpressio_visibility = true


// Font settings

@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700)

font_base = 'Droid Serif', 'serif'
font_base_color = #434b4e
font_base_letter_spacing = none
font_base_size = 22px
font_base_weight = 300
font_base_smoothing = antialiased

font_small = 0.8em
font_large = 1.5em
font_big = 2.5em

font_book_weight = 300
font_bold_weight = 700
font_normal_weight = 400
font_thin_weight = 100


// Headings (h1, h2, h3, ...)

heading_text_color = inherit
heading_font_family = 'Open Sans'
heading_font_weight = 700
heading_line_height = 1.2em
header_letter_spacing = -.1rem
heading_margin = 0 0 25px 0


// Logo, header and site width container

logo_font_size = 1.8em

header_line_height = 1em

site_width = 700px


// Blockquote

blockquote_border_top = none
blockquote_border_right = none
blockquote_border_bottom = none
blockquote_border_left = 10px

blockquote_border_style = solid

blockquote_border_color = rgb(85, 85, 85)

blockquote_font_size = 1.2em

blockquote_padding = 0 0 0 20px


// Paragraph (p)

paragraph_font_size = .85em
paragraph_letter_spacing = .01rem
paragraph_line_height = 1.65em
paragraph_margin = 0 0 25px 0
paragraph_right_left = 0


// Margins and padding settings

margin_small = 10px
margin_medium = 25px
margin_big = 50px

padding_small = 5px
padding_medium = 12px
padding_big = 30px


// Borders (width and radius)

border_small = 1px
border_medium = 6px
border_big = 10px

border_radius_small = 5px
border_radius_medium = 10px
border_radius_big = 15px


// Margin for images

img_margin = 0 0 0 0


// Links styles

a_color = none
a_text_decoration = none

a_hover_color = #1784e4
a_hover_text_decoration = none


// Lists paddings

li_padding_top_bottom = 10px
li_padding_right_left = 0px


// Shadow for text and box

shadow_small = 1px 1px 2px
shadow_medium = 10px 10px 20px
shadow_big = 30px 30px 40px


// If define creates (set to false to undefined):
//   .width10 { width: 10%; }
//   .height10 { height: 10%; }
//   .columns2 { columns: 3; }

widths_percentages = false
heights_percentages = 10 20

columns_numbers = 1 2 3


// Grid

column_width = 100px
gutter_width = 10px
columns = 12 // max 16

total_width = 100% // 100% to fluid grid

numbers_columns = 1 2 3 4 5 6 7 8 9 10 11 12


// Flexbox

flex-version ?= box flex


// Colors (Set var to false to not include classes)

include_basic_colors = true

black = black
blue = #2D91EA
green = #30AF7C
orange = #f79035
pink = #F33E6F
red = #D95C5C
yellow = #FFEA4D
violet = #AD62B8
white = white


include_extra_colors = false

stimulation = #434B4E
rainy = #345065
trackpants = #F7B448
trunkocean = #4DB788
pamda = #DD577A
more = #49AEC0
petal = #FE5A27
puppy = #FFF0CF


// More colors, feel stimulation to change (Set var to false to not include classes)

include_mycolors = false

mysauce1 = #ABCDCF
mysauce2 = #345065
mysauce3 = #233645
mysauce4 = #F5FAFF


// Black and white background with opacity

include_opacity_backgrounds = false

opacity_dark = rgba(0, 0, 0, 0.5)
opacity_light = rgba(238, 238, 238, 0.5)


// Colors degradation

light = 80%
medium = 20%
dark = 10%