vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

vendorVal(prop, args)
  {prop} -webkit- + args
  {prop} -moz- + args
  {prop} -ms- + args
  {prop} -o- + args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

text-shadow()
  vendor('text-shadow', arguments)

background-image()
  vendor('background-image', arguments)

transition()
  vendor('transition', arguments)

transform()
  vendor('transform', arguments)

box-sizing()
  vendor('box-sizing', arguments)

text-size-adjust()
  vendor('text-size-adjust', arguments)


// Flex

flexbox(type)
  if flex == type || inline-flex == type
    if box in flex-version
      if flex == type
        display -ms-flexbox
        vendorVal('display', box)
      else
        display -ms-inline-flexbox
        vendorVal('display', inline-box)
    if flex in flex-version
      vendorVal('display', arguments)
  else
    display arguments


// Old spec

-flex-obsolete-direction(direction)
  if box in flex-version
    if row-reverse == direction || column-reverse == direction
      vendor('box-direction', reverse)

    if row == direction || row-reverse == direction
      vendor('box-orient', horizontal)
    else if column == direction || column-reverse == direction
      vendor('box-orient', vertical)

-flex-obsolete-wrap(value)
  if box in flex-version
    if 'wrap' == value || wrap-reverse == value
      vendor('box-lines', multiple)
    else if nowrap == value
      vendor('box-lines', single)


flex-direction(direction)
  -flex-obsolete-direction(direction)
  if flex in flex-version
    vendor('flex-direction', arguments)

flex-wrap(value)
  -flex-obsolete-wrap(value)
  if flex in flex-version
    vendor('flex-wrap', arguments)

flex-order()
  if box in flex-version
    vendor('box-ordinal-group', arguments)

  if flex in flex-version
    vendor('flex-order', arguments)
    vendor('order', arguments)

flex-anchor(growth)
  if box in flex-version
    vendor('box-flex', growth)

  if flex in flex-version
    vendor('flex', arguments)


-convert-justify(align)
  if flex-start == align
    return start
  else if flex-end == align
    return end
  else if space-around == align
    return distribute
  else if space-between == align
    return justify
  else
    return align

flex-justify-content(align)
  if box in flex-version
    vendor('box-pack', -convert-justify(align))

  if flex in flex-version
    vendor('flex-pack', -convert-justify(align))
    vendor('justify-content', align)

flex-align-content(align)
  if flex in flex-version
    vendor('flex-line-pack', -convert-justify(align))
    vendor('align-content', align)


-convert-alignment(align)
  if flex-start == align
    return start
  else if flex-end == align
    return end
  else
    return align

flex-align-items(align)
  if box in flex-version
    vendor('box-align', -convert-alignment(align))

  if flex in flex-version
    vendor('flex-align', -convert-alignment(align))
    vendor('align-items', arguments)

flex-align-self(align)
  if flex in flex-version
    vendor('align-self', align)
    vendor('flex-item-align', -convert-alignment(align))