.home-template
.post-template
.author-template
.tag-template
.paged
  header
    .scroll-down
      display none

  .post
    header
      margin-bottom .5rem

      h2
        font-size 1.4rem
        line-height 1.7rem

    footer
      font-family 'Raleway'
      font-size .8rem
      margin-top .5rem

      a
        font-weight bold

      figure, div
        display inline-block
        vertical-align middle

      img
        height 40px
        width 40px
        vendor('border-radius', 50%)
        margin-right .4rem

      time
        display block

  .pagination
    a
      color rgb(8, 140, 234)
      text-decoration underline
      vendor('transition', all 400ms)
    a:hover
      color #0647D5
