.home-template
  header
    height 100%

    nav
      position absolute
      top 50%
      vendor('transform', translateY(-50%))

    .scroll-down
      display block
      font-size .65rem
      font-family 'Raleway'
      color #d3d3d3
      background rgba(0, 0, 0, 0.50)
      position absolute
      padding 1rem
      width 100%
      text-align center
      bottom 0

    .site-width
      max-width 100%
      width 100%
      margin 0
