.post-template
  header.blogpost.cover
    height 430px
    font-family 'Raleway'
    overflow hidden
    position relative

    time
      background rgba(0,0,0,0.5)
      color #d3d3d3
      margin-left .1rem

    ul
      padding 0
      margin 0
      vertical-align middle
      display inline-block
      width 50%
      margin -2px

      li
        vertical-align middle
        line-height 1rem
        img
          height 40px
          width 40px
          margin-right .4rem
          vendor('border-radius', 50%)

    ul:nth-child(2)
      text-align right

    div
      position absolute
      bottom 0
      width 100%

    h1
      margin-bottom .4rem

  .post
    header
      margin-bottom 2rem

      time
        color rgb(150, 150, 150)
        font-family 'Raleway'
        font-size .9rem
        margin-left .1rem

      .post-title
        margin-bottom .4rem

    div
      a
        color rgb(8, 140, 234)
        text-decoration underline
        vendor('transition', all 400ms)
      a:hover
        color #0647D5
      img
        display block
        margin 0 auto

    footer
      margin-top 2rem
      > figure, div
        display inline-block
        vertical-align middle
        margin -2px
      > figure
        height 70px
        width 70px
        margin-right 1rem
        img
          vendor('border-radius', 50%)
          height 100%
          width 100%
      > div
        font-family 'Raleway'
        font-size .9rem
        max-width 85%
        p
          line-height 1.2rem

  aside
    overflow hidden
    font-size .8rem
    padding 0 2rem 2rem 2rem

    h5
      white-space nowrap
      text-overflow ellipsis
      overflow hidden
    h6
      font-weight 500
    a
      max-width 48%
      display inline-block
      vertical-align middle
      background rgb(252, 252, 252)
      border 1px solid rgb(244, 244, 244)

@media handheld, only screen and (max-width: 480px)
  .post-template
    header.blogpost.cover
      ul
        li
          img
            height 20px
            width 20px

    aside
      a
        max-width 100%
        display block
