button,
input,
select,
textarea
  font-family inherit
  font-size 100%
  margin 0
  vertical-align middle
  -webkit-appearance none

button,
input
  line-height normal

button,
html input[type="button"],
input[type="reset"],
input[type="submit"]
  -webkit-appearance button
  cursor pointer

button[disabled],
input[disabled]
  cursor default

input[type="search"]
  -webkit-appearance textfield
  box-sizing(content-box)

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration
  -webkit-appearance none

input[type="checkbox"]
  background white
  border-radius(4px)
  height 1px
  line-height 0px
  width 1px
  -webkit-appearance none
  padding 0.7em

input[type="radio"]
  background white
  border-radius(50%)
  -webkit-appearance none
  padding 0.7em

input[type="checkbox"]:after,
input[type="radio"]:after
  content " "
  opacity 0

input[type="checkbox"]:checked:after
  color rgb(82, 82, 82)
  content "✔"
  margin-left -6px
  opacity 1

input[type="radio"]:checked:after
  background rgb(82, 82, 82)
  border 5px solid rgb(82, 82, 82)
  border-radius 20px
  content ""
  margin-left -5px
  margin-top -5px
  opacity 1
  position absolute

button::-moz-focus-inner,
input::-moz-focus-inner
  border 0
  padding 0

textarea
  overflow auto
  vertical-align top

input, textarea
  outline 0
  margin 0
  padding-left 6px

input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus
  border-color rgba(0,0,0,0.2)
  border-bottom-left-radius 0
  border-top-left-radius 0
  box-shadow(.2em 0 0 0 rgba(0,0,0,0.2) inset)
  transition(all 600ms)
  -webkit-appearance none

select
  border 1px solid rgba(0,0,0,0.2)
  padding-left 6px

.select
  position relative

.select:after
  color rgba(0,0,0,0.2)
  content "▼"
  top 12%
  right 3%
  pointer-events none
  position absolute

fieldset
  margin 0 2px
  padding 0.35em 0.625em 0.75em

legend
  border 0
  padding 0

fieldset label
  font-weight bold
  margin-right 10px
  vertical-align middle

fieldset
  &input[type="text"], input[type="password"], input[type="date"], input[type="datetime"],input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], select, textarea
    width 80%

.btn
  cursor pointer
  display inline-block
  padding 0.2em 1.2em
  transition(all 400ms)
  &.large
    font-size 1.3em
    padding 1em 1.2em
  &.medium
    font-size 1.2em
    padding 0.8em 1.2em
  &.normal
    font-size 1em
    padding 0.4em 1.2em
  &.anchor
    display block
    width 100%

button:hover, .btn:hover
  box-shadow inset 0px 0px 0px 4px rgba(0,0,0,0.2)