// @media only screen and (max-width: 1200px)

// @media only screen and (max-width: 1024px)

@media handheld, only screen and (max-width: 768px)
  main
    padding padding_medium

@media handheld, only screen and (max-width: 480px)
  .blog_title
    font-size 1.5rem

  h1
    font-size 1.5rem

  h3
    font-size 1.2rem

// @media handheld, only screen and (max-width: 320px)