table
  border-collapse collapse
  border-spacing 0

th
  border-bottom 2px

td
  vertical-align top
  border-bottom 1px

th, td
  border-bottom-color #8c8c8c
  border-bottom-style solid
  padding 10px