.text.color
  if include_basic_colors
    &.c_black
      color black
    &.c_black_dark
      color black_dark
    &.c_black_light
      color black_light
    &.c_black_medium
      color black_medium
    &.c_blue
      color blue
    &.c_blue_dark
      color blue_dark
    &.c_blue_light
      color blue_light
    &.c_blue_medium
      color blue_medium
    &.c_green
      color green
    &.c_green_dark
      color green_dark
    &.c_green_light
      color green_light
    &.c_green_medium
      color green_medium
    &.c_orange
      color orange
    &.c_orange_dark
      color orange_dark
    &.c_orange_light
      color orange_light
    &.c_orange_medium
      color orange_medium
    &.c_pink
      color pink
    &.c_pink_dark
      color pink_dark
    &.c_pink_light
      color pink_light
    &.c_pink_medium
      color pink_medium
    &.c_red
      color red
    &.c_red_dark
      color red_dark
    &.c_red_light
      color red_light
    &.c_red_medium
      color red_medium
    &.c_yellow
      color yellow
    &.c_yellow_dark
      color yellow_dark
    &.c_yellow_light
      color yellow_light
    &.c_yellow_medium
      color yellow_medium
    &.c_violet
      color violet
    &.c_violet_dark
      color violet_dark
    &.c_violet_light
      color violet_light
    &.c_violet_medium
      color violet_medium
    &.c_white
      color white
  if include_extra_colors
    &.c_stimulation
      color stimulation
    &.c_stimulation_dark
      color stimulation_dark
    &.c_stimulation_light
      color stimulation_light
    &.c_stimulation_medium
      color stimulation_medium
    &.c_rainy
      color rainy
    &.c_rainy_dark
      color rainy_dark
    &.c_rainy_light
      color rainy_light
    &.c_rainy_medium
      color rainy_medium
    &.c_trackpants
      color trackpants
    &.c_trackpants_dark
      color trackpants_dark
    &.c_trackpants_light
      color trackpants_light
    &.c_trackpants_medium
      color trackpants_medium
    &.c_trunkocean
      color trunkocean
    &.c_trunkocean_dark
      color trunkocean_dark
    &.c_trunkocean_light
      color trunkocean_light
    &.c_trunkocean_medium
      color trunkocean_medium
    &.c_pamda
      color pamda
    &.c_pamda_dark
      color pamda_dark
    &.c_pamda_light
      color pamda_light
    &.c_pamda_medium
      color pamda_medium
    &.c_more
      color more
    &.c_more_dark
      color more_dark
    &.c_more_light
      color more_light
    &.c_more_medium
      color more_medium
    &.c_petal
      color petal
    &.c_petal_dark
      color petal_dark
    &.c_petal_light
      color petal_light
    &.c_petal_medium
      color petal_medium
    &.c_puppy
      color puppy
    &.c_puppy_dark
      color puppy_dark
    &.c_puppy_light
      color puppy_light
    &.c_puppy_medium
      color puppy_medium
  if include_mycolors
    &.c_mysauce1
      color mysauce1
    &.c_mysauce1_dark
      color mysauce1_dark
    &.c_mysauce1_light
      color mysauce1_light
    &.c_mysauce1_medium
      color mysauce1_medium
    &.c_mysauce2
      color mysauce2
    &.c_mysauce2_dark
      color mysauce2_dark
    &.c_mysauce2_light
      color mysauce2_light
    &.c_mysauce2_medium
      color mysauce2_medium
    &.c_mysauce3
      color mysauce3
    &.c_mysauce3_dark
      color mysauce3_dark
    &.c_mysauce3_light
      color mysauce3_light
    &.c_mysauce3_medium
      color mysauce3_medium
    &.c_mysauce4
      color mysauce4
    &.c_mysauce4_dark
      color mysauce4_dark
    &.c_mysauce4_light
      color mysauce4_light
    &.c_mysauce4_medium
      color mysauce4_medium

.bck
  if include_basic_colors
    &.b_black
      background black
    &.b_black_dark
      background black_dark
    &.b_black_light
      background black_light
    &.b_black_medium
      background black_medium
    &.b_blue
      background blue
    &.b_blue_dark
      background blue_dark
    &.b_blue_light
      background blue_light
    &.b_blue_medium
      background blue_medium
    &.b_green
      background green
    &.b_green_dark
      background green_dark
    &.b_green_light
      background green_light
    &.b_green_medium
      background green_medium
    &.b_orange
      background orange
    &.b_orange_dark
      background orange_dark
    &.b_orange_light
      background orange_light
    &.b_orange_medium
      background orange_medium
    &.b_pink
      background pink
    &.b_pink_dark
      background pink_dark
    &.b_pink_light
      background pink_light
    &.b_pink_medium
      background pink_medium
    &.b_red
      background red
    &.b_red_dark
      background red_dark
    &.b_red_light
      background red_light
    &.b_red_medium
      background red_medium
    &.b_yellow
      background yellow
    &.b_yellow_dark
      background yellow_dark
    &.b_yellow_light
      background yellow_light
    &.b_yellow_medium
      background yellow_medium
    &.b_violet
      background violet
    &.b_violet_dark
      background violet_dark
    &.b_violet_light
      background violet_light
    &.b_violet_medium
      background violet_medium
    &.b_white
      background white
  if include_extra_colors
    &.b_stimulation
      background stimulation
    &.b_stimulation_dark
      background stimulation_dark
    &.b_stimulation_light
      background stimulation_light
    &.b_stimulation_medium
      background stimulation_medium
    &.b_rainy
      background rainy
    &.b_rainy_dark
      background rainy_dark
    &.b_rainy_light
      background rainy_light
    &.b_rainy_medium
      background rainy_medium
    &.b_trackpants
      background trackpants
    &.b_trackpants_dark
      background trackpants_dark
    &.b_trackpants_light
      background trackpants_light
    &.b_trackpants_medium
      background trackpants_medium
    &.b_trunkocean
      background trunkocean
    &.b_trunkocean_dark
      background trunkocean_dark
    &.b_trunkocean_light
      background trunkocean_light
    &.b_trunkocean_medium
      background trunkocean_medium
    &.b_pamda
      background pamda
    &.b_pamda_dark
      background pamda_dark
    &.b_pamda_light
      background pamda_light
    &.b_pamda_medium
      background pamda_medium
    &.b_more
      background more
    &.b_more_dark
      background more_dark
    &.b_more_light
      background more_light
    &.b_more_medium
      background more_medium
    &.b_petal
      background petal
    &.b_petal_dark
      background petal_dark
    &.b_petal_light
      background petal_light
    &.b_petal_medium
      background petal_medium
    &.b_puppy
      background puppy
    &.b_puppy_dark
      background puppy_dark
    &.b_puppy_light
      background puppy_light
    &.b_puppy_medium
      background puppy_medium
  if include_opacity_backgrounds
    &.b_opacity_dark
      background opacity_dark
    &.b_opacity_light
      background opacity_light
  if include_mycolors
    &.b_mysauce1
      background mysauce1
    &.b_mysauce1_dark
      background mysauce1_dark
    &.b_mysauce1_light
      background mysauce1_light
    &.b_mysauce1_medium
      background mysauce1_medium
    &.b_mysauce2
      background mysauce2
    &.b_mysauce2_dark
      background mysauce2_dark
    &.b_mysauce2_light
      background mysauce2_light
    &.b_mysauce2_medium
      background mysauce2_medium
    &.b_mysauce3
      background mysauce3
    &.b_mysauce3_dark
      background mysauce3_dark
    &.b_mysauce3_light
      background mysauce3_light
    &.b_mysauce3_medium
      background mysauce3_medium
    &.b_mysauce4
      background mysauce4
    &.b_mysauce4_dark
      background mysauce4_dark
    &.b_mysauce4_light
      background mysauce4_light
    &.b_mysauce4_medium
      background mysauce4_medium
    &.b_mysauce5
      background mysauce5
    &.b_mysauce5_dark
      background mysauce5_dark
    &.b_mysauce5_light
      background mysauce5_light
    &.b_mysauce5_medium
      background mysauce5_medium