.padding_small
  padding padding_small

.padding_medium
  padding padding_medium

.padding_big
  padding padding_big

.padding_top_small
  padding-top padding_small

.padding_top_medium
  padding-top padding_medium

.padding_top_big
  padding-top padding_big

.padding_right_small
  padding-right padding_small

.padding_right_medium
  padding-right padding_medium

.padding_right_big
  padding-right padding_big

.padding_bottom_small
  padding-bottom padding_small

.padding_bottom_medium
  padding-bottom padding_medium

.padding_bottom_big
  padding-bottom padding_big

.padding_left_small
  padding-left padding_small

.padding_left_medium
  padding-left padding_medium

.padding_left_big
  padding-left padding_big

.without_padding
  padding initial