body
  color #434B4E

article
  > section > p > img,
  > section > img
    position relative
    left 50%
    transform(translateX(-50%))

pre
  background rgb(240, 240, 240)
  padding 10px

code
  padding 2px 10px
  background rgb(240, 240, 240)

.author_info
  font-family 'Open Sans'
  > p
    margin-bottom 0
    padding-left 70px

.blog_info
  background #FAFAFA
  > h5
    margin-bottom 0px
    letter-spacing 0px

.social
  > h6
    display inline-block