.margin_small
  margin margin_small

.margin_medium
  margin margin_medium

.margin_big
  margin margin_big

.margin_top_small
  margin-top margin_small

.margin_top_medium
  margin-top margin_medium

.margin_top_big
  margin-top margin_big

.margin_right_small
  margin-right margin_small

.margin_right_medium
  margin-right margin_medium

.margin_right_big
  margin-right margin_big

.margin_bottom_small
  margin-bottom margin_small

.margin_bottom_medium
  margin-bottom margin_medium

.margin_bottom_big
  margin-bottom margin_big

.margin_left_small
  margin-left margin_small

.margin_left_medium
  margin-left margin_medium

.margin_left_big
  margin-left margin_big

.without_margin
  margin initial