article
  > section > p > img,
  > section > img
    position relative
    left 50%
    transform(translateX(-50%))
  > section > p > a
    color rgb(32, 158, 197)

pre, code
  background rgb(240, 240, 240)

pre
  @extend .padding_medium

code
  background #f0f0f0
  font-size .8em
  padding .2em
  border-radius 4px

.author_info
  font-family 'Open Sans'
  > p
    margin-bottom 0
    padding-left 70px

.blog_info
  background #FAFAFA
  > h5
    margin-bottom 0px
    letter-spacing 0px

.pagination
  @extend .text.center
  > a
   color rgb(32, 158, 197)

.social
  > h6
    display inline-block