a
  color a_color
  text-decoration a_text_decoration

a:hover
  color a_hover_color
  text-decoration a_hover_text_decoration

blockquote
  border-left solid 10px rgb(85, 85, 85)
  padding-left 20px
  line-height paragraph_line_height
  margin paragraph_margin

blockquote:last-child
  margin-bottom 0

h1, h2, h3, h4, h5, h6
  color heading_text_color
  font-family heading_font_family
  font-weight heading_font_weight
  line-height heading_line_height
  letter-spacing header_letter_spacing
  margin heading_margin

h1
  font-size 2.5rem

h2
  font-size 2.2rem

h3
  font-size 2rem

h4
  font-size 1.5rem

h5
  font-size 1.2rem

h6
  font-size 1rem

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child
  margin-bottom 0

p, dl
  font-size .9em
  line-height paragraph_line_height
  margin paragraph_margin

p:last-child
  margin-bottom 0

pre
  margin paragraph_margin

pre:last-child
  margin-bottom 0

small
  font-size font_small

.text
  &.small
    font-size font_small
  &.large
    font-size font_large
  &.big
    font-size font_big
  &.bold
    font-weight font_bold_weight
  &.book
    font-weight font_book_weight
  &.center
    text-align center
  &.italic
    font-style italic
  &.justify
    text-align justify
  &.left
    text-align left
  &.normal
    font-weight font_normal_weight
  &.thin
    font-weight font_thin_weight
  &.underline
    text-decoration underline
  &.uppercase
    text-transform uppercase
  &.right
    text-align right