img
  margin img_margin
  &.big
    width 90%
  &.medium
    width 70%
  &.small
    width 30%

.anchor
  width 100%

.site_width
  margin 0 auto
  max-width site_width

if columns_numbers
  for row in columns_numbers
    .columns{row}
      vendor('columns', row)

for row in heights_percentages
  .height{row}
    height (row)%

if widths_percentages
  for row in widths_percentages
    .width{row}
      width ((row/1.008466))%

.scroll
  overflow auto
  min-height 0

.o_hidden
  overflow hidden