.flex
  flexbox(flex)
  overflow hidden
  &.inline
    flexbox(inline-flex)
  &.row
    flex-direction(row)
  &.column
    flex-direction(column)
  &.wrap
    flex-wrap(wrap)
  &.nowrap
    flex-wrap(nowrap)
  &.x_start
    flex-justify-content(flex-start)
  &.x_center
    flex-justify-content(center)
  &.x_justify
    flex-justify-content(space-between)
  &.x_end
    flex-justify-content(flex-end)
  &.y_start
    flex-align-items(flex-start)
  &.y_center
    flex-align-items(center)
  &.y_end
    flex-align-items(flex-end)
  &.y_stretch
    flex-align-items(stretch)
  &.y_space-between
    flex-align-items(space-between)
  & > .item_start
    flex-align-self(flex-start)
  & > .item_end
    flex-align-self(flex-end)
  & > .item_center
    flex-align-self(center)
  & > .item_stretch
    flex-align-self(stretch)
  & > .anchor1
    flex-anchor(1)
  & > .anchor2
    flex-anchor(2)
  & > .anchor3
    flex-anchor(3)
  & > .anchor4
    flex-anchor(4)
  & > .anchor5
    flex-anchor(5)
  & > .anchor6
    flex-anchor(6)
  & > .anchor7
    flex-anchor(7)
  & > .anchor8
    flex-anchor(8)
  & > .anchor9
    flex-anchor(9)
  & > .anchor10
    flex-anchor(10)
  & > .anchor11
    flex-anchor(11)
  & > .anchor12
    flex-anchor(12)
  & > .order1
    flex-order(1)
  & > .order2
    flex-order(2)
  & > .order3
    flex-order(3)