ol
  margin paragraph_margin
  ol
    padding-top li_padding_top_bottom
  ol > li:last-child
    padding-bottom 0
  > li
    margin 0 0 0 32px

li
  padding li_padding_top_bottom li_padding_right_left

ul
  margin paragraph_margin
  > li, &.square li, &.circle li
    margin 0 0 0 25px
    ul
      padding-top li_padding_top_bottom
    ul > li:last-child
      padding-bottom 0
  &.square, &.square ul
    list-style square
  &.circle, &.circle ul
    list-style circle