a
  color a_color
  text-decoration a_text_decoration

a:hover
  color a_hover_color
  text-decoration a_hover_text_decoration

blockquote
  border-top-width blockquote_border_top
  border-right-width blockquote_border_right
  border-bottom-width blockquote_border_bottom
  border-left-width blockquote_border_left
  border-style blockquote_border_style
  border-color blockquote_border_color
  font-size blockquote_font_size
  padding blockquote_padding
  line-height paragraph_line_height
  margin paragraph_margin

blockquote:last-child
  margin-bottom 0

h1, h2, h3, h4, h5, h6
  color heading_text_color
  font-family heading_font_family
  font-weight heading_font_weight
  margin heading_margin
  letter-spacing header_letter_spacing
  line-height heading_line_height

h1
  font-size 2.5rem

h2
  font-size 2.2rem

h3
  font-size 2rem

h4
  font-size 1.5rem

h5
  font-size 1.2rem

h6
  font-size 1rem

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child
  margin-bottom 0

p, dl
  font-size paragraph_font_size
  letter-spacing paragraph_letter_spacing
  line-height paragraph_line_height
  margin paragraph_margin

p:last-child
  margin-bottom 0

pre
  margin paragraph_margin

pre:last-child
  margin-bottom 0

small
  font-size font_small

.text
  &.small
    font-size font_small
  &.large
    font-size font_large
  &.big
    font-size font_big
  &.bold
    font-weight font_bold_weight
  &.book
    font-weight font_book_weight
  &.center
    text-align center
  &.italic
    font-style italic
  &.justify
    text-align justify
  &.left
    text-align left
  &.normal
    font-weight font_normal_weight
  &.thin
    font-weight font_thin_weight
  &.underline
    text-decoration underline
  &.uppercase
    text-transform uppercase
  &.right
    text-align right
  &.shadow_small
    text-shadow shadow_small rgba(0,0,0,0.5)
  &.shadow_medium
    text-shadow shadow_medium rgba(0,0,0,0.5)
  &.shadow_big
    text-shadow shadow_big rgba(0,0,0,0.5)

.logo
  font-size logo_font_size