.alignright
  float right

.alignleft
  float left

.inline
  display inline-block

.center
  display block
  margin 0 auto

.margin_auto
  margin auto auto

.p_absolute
  position absolute

.p_relative
  position relative

.p_fixed
  position fixed

.middle
  vertical-align middle

.vertical_align
  position relative
  top 50%
  transform(translateY(-50%))