html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd,
ul, li, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video
  margin 0
  padding 0
  border 0
  outline 0
  font-size 100%
  vertical-align baseline
  background transparent

body *
  box-sizing(border-box)

html, body
  width 100%
  height 100%

html
  color font_base_color
  font-family font_base
  font-size font_base_size
  font-weight font_base_weight
  letter-spacing font_base_letter_spacing
  text-size(100%)
  vendor('font-smoothing', font_base_smoothing)

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section
  display block

header
  line-height header_line_height

nav ul
  list-style none

blockquote, q
  quotes none

blockquote:before, blockquote:after,
q:before, q:after
  content ''
  content none

a
  color inherit
  text-decoration none

ins
  background-color #ff9
  color #000
  text-decoration none

img
  max-width 100%
  height auto

mark
  background-color #ff9
  color #000
  font-style italic
  font-weight bold

del
  text-decoration line-through

abbr[title], dfn[title]
  border-bottom 1px dotted
  cursor help

dt
  font-weight bold

blockquote cite
  color grey

pre
  word-wrap break-word
  font-size .8em

pre, code
  font-family 'Monaco', courier, monospace
  line-height 1.5em

hr
  display block
  height 1px
  border 0
  border-top 1px solid rgba(0,0,0,0.1)
  margin 1em 0
  padding 0

 ::selection
  background #1F1F1F
  color #00CC66
  text-shadow none