.border
  border-color rgba(0,0,0,0.1)
  &.rad_small
    border-radius(border_radius_small)
  &.rad_medium
    border-radius(border_radius_medium)
  &.rad_big
    border-radius(border_radius_big)
  &.rad_circle
    border-radius(50%)
  &.top_small
    border-top-width border_small
  &.top_medium
    border-top-width border_medium
  &.top_big
    border-top-width border_big
  &.right_small
    border-right-width border_small
  &.right_medium
    border-right-width border_medium
  &.right_big
    border-right-width border_big
  &.bottom_small
    border-bottom-width border_small
  &.bottom_medium
    border-bottom-width border_medium
  &.bottom_big
    border-bottom-width border_big
  &.left_small
    border-left-width border_small
  &.left_medium
    border-left-width border_medium
  &.left_big
    border-left-width border_big
  &.all_small
    border-width border_small
  &.all_medium
    border-width border_medium
  &.all_big
    border-width border_big
  &.dotted
    border-style dotted
  &.dashed
    border-style dashed
  &.solid
    border-style solid

.box
  &.shadow_small
    box-shadow shadow_small rgba(0,0,0,0.5)
  &.shadow_medium
    box-shadow shadow_medium rgba(0,0,0,0.5)
  &.shadow_big
    box-shadow shadow_big rgba(0,0,0,0.5)